<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Index</title>
  </head>
  <body>
    <% robots.forEach(robot => { %> <%= robot.name %> <%= robot.purpose %> <%=
    robot.weapons %> <%= robot.fuel %> <%= robot.personality %> <% }) %>
  </body>
</html>
