<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Show</title>
  </head>
  <body>
    <h1>Show Robot</h1>
    This robot is called <%= oneBot.name %> and their purpose is <%=
    oneBot.purpose %>. They run on <%= oneBot.fuel %> and have a <%=
    oneBot.personality %> and they have weapons <%= oneBot.weapons %>
  </body>
</html>
